@import '_variables';
@import '_mixins';


.empty-template {
    width: 100%;
    text-align: center;
    color: $primary;
    font-size:45px;
}

.pagination-buttons {
    @include flex-middle;
    margin-top:20px;
    width: 100%;

    .pagination-button {
        padding: 10px;
        margin: 0px 10px;
        &.active {
            border:2px solid $dark-medium;
        }
        &.arrow {
            font-size: 30px;
            line-height: 20px;
        }
    }
}